*{
    font-family: "Gruppo", sans-serif;
    color: rgb(134, 134, 134);
}

body{
    background-color: rgb(15, 15, 15);
    
}

main{
    background-color: rgb(15, 15, 15);
}

/* -------- vertical-menu ------------- */

.vertical-menu {
    position: fixed;
    top: 20px ;   
    z-index: 10;
    background-color: none;
}
  
.vertical-menu a {
    padding: 10px; 
    text-decoration: none;
}
  
.vertical-menu h1 {
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    text-align: center; 
    margin: 0; 
    margin-left: 14px;
    margin-top: 0px;
    font-family: "Julius Sans One", sans-serif;
}

.hexagono {
    width: 25px;
    height: 35px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: rotate(90deg);
    margin-left: 15px;
    cursor: pointer;
}


.hexa1 {
    background-color: #428bca;
}

.hexa1:hover {
    background-color: #5d98cc;
}

.hexa2 {
    background-color: #86bff0;
}

.hexa2:hover {
    background-color: #8fc9fc;
}

.itemNavBar{
    font-size: 1vw; 
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.753);
    display: none;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: "Julius Sans One", sans-serif;
}

.itemNavBar:hover{ 
    color: #346d9e;
}

.titulo {
    font-size: 2vw; 
    color: rgb(134, 134, 134);
    transition: color 1s ease;
}

.titulo:hover {
    color: #346d9e;
}

/* --------------------------------- */

h2{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    font-family: "Julius Sans One", sans-serif;
}

#btnWhatsApp{
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 50px;
    width: 50px;
    line-height: 45px;
    text-align: center;
    fill: white;
    background-color: #00cd55a1;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
}
    
#btnWhatsApp:hover{
    height: 55px;
    width: 55px;
    line-height: 50px;
    transition: 0.5s;
    background-color: #00cd55e1;
}

#mailApp{
    position: fixed;
    top: 40px;
    right: 40px;
    height: 50px;
    width: 50px;
    line-height: 45px;
    text-align: center;
    fill: white;
    background-color: #428bca8a;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
}
    
#mailApp:hover{
    height: 55px;
    width: 55px;
    line-height: 50px;
    transition: 0.5s;
    background-color: rgb(75, 135, 184);
}

#btnInstagram{
    position: fixed;
    top: 100px;
    right: 40px;
    height: 50px;
    width: 50px;
    line-height: 45px;
    text-align: center;
    fill: white;
    background-color: #c135849c;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
}

#btnInstagram:hover{
    height: 55px;
    width: 55px;
    line-height: 50px;
    transition: 0.5s;
    background-color: #C13584;
}

/* ---- Imagen de inicio ---- */

.imgfront{
    width: 100%;
    height: 100vh;
    opacity: 0.8; 
}

.imgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(15, 15, 15) 82%);
}

.slogan{
    position: absolute;
    top: 80vh;
    right: 10%;
}

.slogan p{
    color: #428bca;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 150;
    font-family: "Reenie Beanie";
}

/* ---- BENEFICIOS AGUA KANGEN ---- */

.beneficios h2{
    color:#428bca;

}

.benefitsContainer{
    display: flex;
}

.commentBeneficios{
    padding: 30px;
    margin: 10px 20px;
    font-size: 25px;
    text-align: justify;
}

.benefitsSubtitles{
    display: flex;
    color:#428bca;
}

.benefitsItemsContainer{
    display: flex;
}

.benefitsSection {
    width: 50%;
    border: 1px solid #ddd;
    margin-right: 10px;
    padding: 30px;
    margin: 10px 10px;
    font-size: 15px;
    text-align: justify;
}

.benefitsSection .card{
    padding: 20px;   
    background-color: rgb(15, 15, 15); 
}

.benefitsSection .card .card-text{   
    color: rgb(134, 134, 134);
}

.hexagono2 {
    clip-path: polygon(10px 0, 18px 5px, 18px 15px, 10px 20px, 2px 15px, 2px 5px);
    transform: rotate(90deg);    
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-left: 0px;
}

.hexa3 {
    background-color: #428bca;
}

.hexa4 {
    background-color: #86bff0;
}

.itemText{
    padding-top: 7px;
    align-items: center; 
    width: 450px;     
}

.tipoBtn{
    color: black;
    font-weight: bold;
    background-color: #428bca; 
    border: 1px solid #2e608b;
    width: 100%;
    text-align: left;
    margin-top: 5px;
}

.tiposAguaContainer{
    margin-bottom: 90px;
    margin-top: 90px;
}

.tiposAgua{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color:#428bca;
}

.tiposAguaText{
    padding: 30px;
    margin: -6px 1px;
    font-style: italic;
    color: rgb(134, 134, 134);
    background-color: rgb(15, 15, 15);
    font-size: 15px;
    text-align: justify;
    border: none;
    border: none !important;
}

/* ---- NUESTROS EQUIPOS ---- */

#equipos{
    color:#428bca;
}

.banner{
    width: 95%;
    height: 45rem;
    position: absolute;
    left: 5rem;
    display: flex;
}

.bannerContent h5{
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
    color:#428bca;
}

.bannerContent p{
    text-align: center;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
}

.banner img{
    height: 35rem;
    border-radius: 2%;
}

/* Carrousel */
.containerEquipos{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 35rem;
}

.containerEquipos .card{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    opacity: 0.7;
    margin-top: 23rem;
    border: none;
}

.containerEquipos .card:hover{
    width: 10.5rem;
    height: 10.5rem;
    margin: 0.7rem;
    margin-top: 22.7rem;
    opacity: 1;
    transition: 0.5s;
}

.containerEquipos .card-img{
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

.containerEquipos .card .card-img-overlay h5{
    font-size: small;
    position: absolute;
    font-weight: bold;
    bottom: -5px;
    left: 0;
    right: 0;
  }


/* ---- CERTIFICACIONES ---- */
#certificaciones{
    color:#428bca;
}

.cetificacionesIcon{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    height: 120px;
    width: 120px;
    object-fit: contain;
    padding: 5px;
    margin: 1.5rem;
    opacity: 0.8;
}

.cetificacionesIcon:hover{
    opacity: 1;
    transition: 0.7s;
}

.offcanvas-title{
    color: rgb(15, 15, 15);
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    font-weight: bolder;
}




/* ------- NOSOTROS -------- */

#nosotros{
    color:#428bca;
}

.nosotros{
    background-color: rgb(15, 15, 15);
    border: 1px solid white;
}

.nosotros .card-body {
    text-align: center;
}

.nosotros .card-body .card-title{
    margin-top: 3rem;
    font-size: 2.5rem;
    color:#428bca;
}

.nosotros .card-body .card-text{
    color: rgb(134, 134, 134);
    align-items: center;
    margin-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.nosotros .card-body .card-text strong{
    color: rgb(134, 134, 134);
}


/* ------- HISTORIA -------- */

#historia h2{
    color:#428bca;
}

.pre-line {
    white-space: pre-line;
    padding: 10px 30px;
  }


/* ------- CONTACT -------- */

.containerForm{
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

.containerForm div{
    margin: 10px;
}



form textarea{
    width: 300px;
    height: 150px;
}


#contact{
    color: rgb(134, 134, 134);
    padding: 10px;
    width: 100%;   
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.containerContact{
    width: 40%;
    height: 500px;
    border: 1px solid rgb(61, 60, 60);
    margin-top: 150px;
    margin-bottom: 250px;
    box-shadow: -5px 5px 10px rgba(253, 253, 253, 0.089);
}

.containerForm{
    text-decoration: none;
}

.formInputs{
    margin-top: 20px;
    background-color: rgb(15, 15, 15);
    border: none;
    width: 300px;
    border-bottom: 2px rgba(71, 70, 70, 0.432) solid;
}

.btnSubmit{
    border: none;
    /* box-shadow: -5px 5px 10px rgba(253, 253, 253, 0.089); */
    color: rgb(134, 134, 134);
    width: 150px;
    background-color: rgba(26, 25, 25, 0.719);

}

.btnSubmit:hover{
    background-color: rgba(66, 64, 64, 0.178);
    border-color: rgba(81, 144, 199, 0.452);
    color: rgb(134, 134, 134);
}

/*------------- Footer --------------*/

footer{
    background-color: #428bca;
    height: 10rem;
    padding: 4rem;
}

footer svg{
    fill: white;
}



/* ----------- Timeline -------------------- */

.preguntasFrecuentes{
    margin-top: 20px;
    color: #346d9e;
}

.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    min-height: 100vh;
    padding: 100px 0;
}

  
.design {
display: flex;
align-items: center;
justify-content: center;
}
  
.timeline {
width: 80%;
height: auto;
max-width: 800px;
margin: 0 auto;
display: flex;
flex-direction: column;
}
  
.timeline-content {
padding: 20px;
background: rgb(15, 15, 15);
-webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
        box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
border-radius: 5px;
color: rgb(134, 134, 134);
padding: 1.75rem;
transition: 0.4s ease;
overflow-wrap: break-word !important;
margin: 1rem;
margin-bottom: 20px;
border-radius: 6px;
}

.timeline-content h3{
color: #428bca;
font-weight: bold;
}

.timeline-content p{
color: white;
}
  
.timeline-component {
margin: 0px 20px 20px 20px;
}
  
@media screen and (min-width: 768px) {
.timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
}
.timeline-middle {
    position: relative;
    background-color: white;
    width: 3px;
    height: 100%;
}
.main-middle {
    opacity: 0;
}
.timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
}

/* --- Información útil --- */
.infoImagen {
    margin: 2rem;
    text-align: center;   
}

.infoImagen img{
    height: 40rem;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
}

/* ----------------------------- Media Queries -------------------------------- */

@media only screen and (max-width: 500px) {

    #btnWhatsApp{
        bottom: 20px;
        right: 40px;
        height: 40px;
        width: 40px;
        line-height: 35px;
    }

    #mailApp{
        bottom: 20px;
        right: 40px;
        height: 40px;
        width: 40px;
        line-height: 35px;
    }

    #btnInstagram{
        bottom: 20px;
        right: 40px;
        height: 40px;
        width: 40px;
        line-height: 35px;
    }

    /* ---- Imagen de inicio ---- */

    .imgfront{
        height: 65vh;     
        object-fit:cover
    }

    .imgOverlay {
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(15, 15, 15) 60%);
    }

    .slogan{
        top: 75vh;
        right: 5%;
        
    }

    .slogan p{
        font-size: 2.5rem ;
        font-weight: normal;
    }

    /* ----- vertical-menu ----- */

    .vertical-menu { 
        height: 65vh;
    }

    .vertical-menu h3{
        margin-left: 0px;
    }

    .hexagono {
        width: 25px;
        height: 30px;
        margin-left: 0px;
        padding: 10px;
    }

    .itemNavBar{
        font-size: 4vw; 
    }

    .vertical-menu h1 { 
        margin: 0px;
        margin-left: 7px;
        font-size: 28px;
    } 

    #beneficios{
        margin-top: 280px;
    }

    .beneficios h2 {
        font-size: 30px;
    }
    /* ---- NUESTROS EQUIPOS ---- */

    .containerEquipos{
        display: flex;
        justify-content: center;
        margin-left: 25px;
        height: 800px;
        width: 95%;
    }

    .containerEquipos .card{
        width: 4.5rem;
        height: 4.5rem;
        margin: 0;
        margin-left: 5px;
    }
    
    .containerEquipos .card:hover{
        width: 5rem;
        height: 5rem;
        margin: 0;
        margin-left: 2px;
    }
    
    .containerEquipos .card-img{
        width: 5rem;
        height: 5rem;
    }

    .containerEquipos .card .card-title{
        display: none;
    }

    .banner{
        width: 80%;
        height: 20rem;
        position: absolute;
        left: 4rem;
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 100px;
    }
    .bannerContent{
        margin-left: 0px;
        padding: auto;
    }

    .bannerContent h5{
        text-align: center;
        margin-top: 1rem;
        font-size: 1rem;
    }

    .bannerContent p{
        text-align: center;
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
        padding: 1.5rem;
    }

    .banner img{
        height: 15rem;
        border-radius: 2%;
        margin: 0;
    }


    /* -------------------------- */

    h2{
        margin-left: 25px;
        margin-top: 20px;
    }

    h3{
        margin-left: 25px;
    }

    .benefitsContainer{
        display: block;
    }

    .hexagono2 {
        width: 40px;
        height: 40px;
        margin: 20px;
        padding: 0;
        margin-left: 0px;
    }

    .itemText{
        margin-top: 10px; 
        width: 70%;    
    }

    .benefitsSubtitles{
        display: block;
    }

    .benefitsSection {
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .benefitsSection ul{
        padding-left: 0px;
        margin-left: 0px;
    }

    .commentBeneficios{
        padding: 10px;
        margin: 10px 10px 10px 15px;
        font-size: 20px;
    }

    .tipoBtn{
        width: 90%;
        text-align: center;
        margin-left: 25px;
    }

    /*----------- Certificaciones ------------*/

    #certificaciones h2{
        font-size: 30px;
    }

    .cetificacionesIcon{
        height: 100px;
        width: 100px;
        margin: 0.5rem;
        opacity: 1;
    }
    
    .offcanvas-title{
        padding-left: 2rem;
        padding-right: 2rem;
    }


    /* ---------------------------- */

    .equiposContainer .card-body{
        margin-left: 15px;
    }

    .equiposContainer .card-title{
        text-align: center;
    }

    .equiposContainer .card-text{
        text-align: center;
    }

    .equiposContainer img{
        margin-left: 15px;
    }

    .isoCard{
        margin-left: 20px;
        width: 95%;
    }

    .isoCard .card-body{
        margin-top: 10px;    
    }

    .isoCard .card-title{
        margin-left: 15px;
        text-align: center;
        font-size: 25px;
    }

    .isoCard .card-text{
        margin-left: 15px;
        text-align: center;
    }

    .isoBenContainer .card-body{
        padding: 0px;
        margin: 0px;
    }

    .isoCard img{
        padding: 0%;
        margin: 30%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .wavesP{
        margin-left: 15px;
        text-align: center;
        margin-top: 10px;
    }

    .certCards .card-img-top {
        height: 6rem;
        width: 6rem;
    }

    #nosotros .container .card {
        max-width: 90% !important;
        margin-left: 20px;
    }

    #nosotros .card-body .card-text{
       
        align-items: baseline;
        margin-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

/* ---- CONTACT ---- */

    #contact{
        width: 90%;
        font-size: 25px;
        padding: 5px;
        margin-left: 12px;
    }

    .containerContact {
        width: 75%;
    }

    .formInputs{
        width: 180px;
    }

/* --- Información útil --- */
    .infoUtil{
        font-size: 22px;
    }

    .infoImagen {
        margin: 0.5rem;
        margin-bottom: 4rem;   
    }

    .infoImagen img{
        height: 15rem;
    }

} 

@media only screen and (min-width: 501px) and (max-width: 1025px) {

    /* ---- Imagen de inicio ---- */

    .imgfront{
        height: 45vh;     
        height: 50vh;
    }

    .imgOverlay {
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(15, 15, 15) 40%);
    }

    .slogan{
        top: 80vh;
        right: 5%;
    }

    .slogan p{
        font-size: 3.5rem;
        font-weight: normal;
    }


     /* ----- vertical-menu ----- */

    .vertical-menu { 
        top: 10px;
        height: 65vh;
    }

    .hexagono {
        width: 55px;
        height: 60px;
        margin-left: 0px;
        padding: 10px;
    }

    .itemNavBar{
        font-size: 2.5vw; 
    }

    .vertical-menu h1 { 
        margin: 0px;
        margin-left: 12px;
        font-size: 40px;
    }

    /* ----- Benefits ----- */

    .beneficios h2{
        margin-left: 25px;
        margin-top: 800px;
    }

    .benefitsContainer{
        display: block;
    }

    .benefitsSubtitles{
        display: block;
    }

    .benefitsSection {
        width: 100%;
        border: 1px solid #ddd;
        padding: 30px;
    }

    .wavesContainer img {
        height: 170px;
        margin-left: 15px;
    }

    .tipoBtn {
        width: 90%;
        text-align: center;
        margin-left: 25px;
    }

    .certCards .card-img-top {
        height: 6rem;
        width: 6rem;
    }

   /* ---- NUESTROS EQUIPOS ---- */

    #equipos h2{
        margin-top: 20px;
    }

   .containerEquipos{
        display: flex;
        justify-content: center;
        margin-left: 25px;
        height: 600px;
        width: 95%;
    }

    .containerEquipos .card{
        width: 10rem;
        height: 10rem;
        margin: 0;
        margin-left: 5px;
    }

.containerEquipos .card:hover{
    width: 14.5rem;
    height: 14.5rem;
    margin: 0;
    margin-left: 2px;
}

.containerEquipos .card .card-img{
    width: 100%;
    height: 100%;
}

.containerEquipos .card .card-title{
    display: none;
}

.banner{
    width: 80%;
    height: 30rem;
    position: absolute;
    left: 4rem;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 300px;
}
.bannerContent{
    margin-left: 0px;
    padding: auto;
}

.bannerContent h5{
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.bannerContent p{
    text-align: center;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
    padding: 0.1rem;
}

.banner img{
    height: 30rem;
    border-radius: 2%;
    margin-left: 5rem !important;
    margin: 0;
}

/* ---- Certificaciones ----- */

#certificaciones h2{
    margin-left: 25px;
    margin-top: 600px;
}

/* ---- CONTACT ---- */

#contact{
    width: 90%;
    font-size: 25px;
    padding: 5px;
    margin-left: 12px;
}

.containerContact {
    width: 75%;
}

.formInputs{
    width: 350px;
}

/* --- Información útil --- */


.infoImagen {
    margin: 2rem;
    margin-bottom: 14rem;   
}

.infoImagen img{
    height: 25rem;
}

/* -------------------------- */
}