*{
    font-family: "Lato", Sans-serif;
    color:#428bca;
}

.vertical-menu {
    position: fixed;
    top: 20px;   
    z-index: 100;
}
  
.vertical-menu a {
    padding: 12px; 
    text-decoration: none;
}
  
.vertical-menu h1 {
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    text-align: center; 
    margin: 0; 
    margin-left: 10px;
}

.hexagono {
    width: 30px;
    height: 40px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: rotate(90deg);
    margin-left: 15px;
    cursor: pointer;
}

.hexa1 {
    background: #428bca;
}

.hexa1:hover {
    background: #346d9e;
}

.hexa2 {
    background: #86bff0;
}

.hexa2:hover {
    background: #6590b6;
}

.itemNavBar{
    font-size: 1vw; 
    color: #ffffff;
    display: none;
    margin-bottom: 0px;
    font-weight: bold;
    
}

.itemNavBar:hover{ 
    color: #346d9e;
}



.titulo {
    font-size: 3vw; 
    color: #ffffff;
    transition: color 1s ease;
}

.titulo:hover {
    color: #346d9e;
}

.scroll-down {
    color: #346d9e;
}

h2{
    color:#428bca;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
}

#btnWhatsApp{
    position: fixed;
    top: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    fill: white;
    background-color: #00CD54;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
}
    
#btnWhatsApp:hover{
    height: 45px;
    width: 45px;
    line-height: 45px;
    transition: 0.5s;
}

#mailApp{
    position: fixed;
    top: 40px;
    right: 100px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    fill: white;
    background-color: #428bca;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
}
    
#mailApp:hover{
    height: 45px;
    width: 45px;
    line-height: 45px;
    transition: 0.5s;
}



.imgfront{
    width: 100%;
    height: 100vh;
}

/* ---- BENEFICIOS AGUA KANGEN ---- */

.benefitsContainer{
    display: flex;
}

.commentBeneficios{
    padding: 30px;
    margin: 10px 20px;
    font-style: italic;
    color: #428bca;
    font-size: 25px;
    text-align: justify;
}

.benefitsSubtitles{
    display: flex;
}

.benefitsItemsContainer{
    display: flex;
}

.benefitsSection {
    width: 50%;
    border: 1px solid #ddd;
    margin-right: 10px;
    padding: 30px;
    margin: 10px 10px;
    color: #428bca;
    font-size: 15px;
    text-align: justify;
}

.benefitsSection .card{
    padding: 20px;    
}

.hexagono2 {
    clip-path: polygon(10px 0, 18px 5px, 18px 15px, 10px 20px, 2px 15px, 2px 5px);
    transform: rotate(90deg);    
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-left: 0px;
}

.hexa3 {
    background: #428bca;

}

.hexa4 {
    background: #86bff0;
}

.itemText{
    padding-top: 7px;
    align-items: center; 
    width: 450px;     
}

.tipoBtn{
    color: white;
    background-color: #428bca; 
    border: 1px solid #2e608b;
    width: 100%;
    text-align: left;
    margin-top: 5px;
}



.tiposAguaText{
    padding: 30px;
    margin: 10px 20px;
    font-style: italic;
    color: #428bca;
    font-size: 15px;
    text-align: justify;
}

/* ---- NUESTROS EQUIPOS ---- */

.equiposContainer .card{
    border: none;
}

.equiposContainer .card-title{
    color: #428bca;
    margin-top: 25px;
    font-size: 35px;
}

.equiposContainer .card-text{
    color: #428bca;
    margin-top: 20px;

}


/* ---- CERTIFICACIONES ---- */

.isoCard{
    border: none;
    color: #428bca;
}

.isoCard img{
    padding: 20%;
    margin: 10%;
}

.isoCard .card-body{
    padding: auto;
    margin-top: 4rem;
}

.isoCard .card-title{
    font-size: 32px;
}

.isoBenContainer{
    border: none;
}

.isoBenContainer .card{
    border: none;
}

.isoBenContainer .card-text{
    margin-top: 35px;
}

.iso{
    width: 50%;
    margin: auto;
}

.wqa{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 35px;
}

.wavesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wavesContainer img {
    max-width: 100%;
    height: 300px;
    margin: 0 10px;
}

.wavesP {
    color: #428bca;
}

.certCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.certCards .card{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color:#428bca;
    text-align: center;
}

.certCards .card-img-top{
    height: 6rem;
    width: 6rem;
    padding: auto;
    margin: auto;
}


/* ---- NOSOTROS ---- */

footer{
    background-color: #428bca;
    height: 10rem;
    padding: 4rem;
}

footer svg{
    fill: white;
}


/* ---- CONTACT ---- */

.containerForm{
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

.containerForm div{
    margin: 10px;
}

form input{
    width: 300px;
    border-color: #428bca;
}

form textarea{
    width: 300px;
    border-color: #428bca;
}


#contact{
    padding: 40px;
    width: 100%;
    height: 150px;
    font-size: 50px;
    text-align: center;
}

.btnSubmit{
    background-color: white;
    border-color: #428bca;
    color: #428bca;
}

.btnSubmit:hover{
    background-color: #428bca;
    border-color: rgba(81, 144, 199, 0.452);
    color: white;

}

/* ----------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 500px) {

    .imgfront{
        height: 65vh;     
        object-fit:cover
    }

    .vertical-menu { 
        top: 10px;
        height: 65vh;
    }

    .hexagono {
        width: 25px;
        height: 30px;
        margin-left: 0px;
        padding: 10px;
    }

    .itemNavBar{
        font-size: 4vw; 
    }

    .vertical-menu h1 { 
        margin: 0px;
        margin-left: 6px;
        font-size: 25px;
    }

    h2{
        margin-left: 25px;
    }

    h3{
        margin-left: 25px;
    }

    .benefitsContainer{
        display: block;
    }

    .hexagono2 {
        width: 40px;
        height: 40px;
        margin: 20px;
        padding: 0;
        margin-left: 0px;
    }

    .itemText{
        margin-top: 20px;    
    }

    .benefitsSubtitles{
        display: block;
    }

    .benefitsSection {
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .benefitsSection ul{
        padding-left: 0px;
        margin-left: 0px;
    }

    .commentBeneficios{
        padding: 10px;
        margin: 10px 10px 10px 15px;
        font-size: 20px;
    }

    .tipoBtn{
        width: 90%;
        text-align: center;
        margin-left: 25px;
    }

    #certificaciones h2{
        font-size: 30px;
    }

    .wavesContainer img {
        height: 90px;
        margin-left: 15px;
    }

    .equiposContainer .card-body{
        margin-left: 15px;
    }

    .equiposContainer .card-title{
        text-align: center;
    }

    .equiposContainer .card-text{
        text-align: center;
    }

    .equiposContainer img{
        margin-left: 15px;
    }

    .isoCard .card-body{
        margin-top: 10px;    
    }

    .isoCard .card-title{
        margin-left: 15px;
        text-align: center;
        font-size: 25px;
    }

    .isoCard .card-text{
        margin-left: 15px;
        text-align: center;
    }

    .isoBenContainer .card-body{
        padding: 0px;
        margin: 0px;
    }

    .isoCard img{
        padding: 0%;
        margin: 30%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .wavesP{
        margin-left: 15px;
        text-align: center;
        margin-top: 10px;
    }

    .certCards .card-img-top {
        height: 6rem;
        width: 6rem;
    }

    #nosotros .container .card {
        max-width: 90% !important;
        margin-left: 20px;
    }
} 

@media only screen and (min-width: 501px) and (max-width: 1023px) {


    .imgfront{
        height: 45vh;     
        height: 50vh;
    }

    .vertical-menu { 
        top: 10px;
        height: 65vh;
    }

    .hexagono {
        width: 55px;
        height: 60px;
        margin-left: 0px;
        padding: 10px;
    }

    .itemNavBar{
        font-size: 2.5vw; 
    }

    .vertical-menu h1 { 
        margin: 0px;
        margin-left: 0px;
        font-size: 50px;
    }

    .benefitsContainer{
        display: block;
    }

    .benefitsSubtitles{
        display: block;
    }

    .benefitsSection {
        width: 100%;
        border: 1px solid #ddd;
        padding: 30px;
    }

    .wavesContainer img {
        height: 170px;
        margin-left: 15px;
    }

    .tipoBtn {
        width: 90%;
        text-align: center;
        margin-left: 25px;
    }

    .certCards .card-img-top {
        height: 6rem;
        width: 6rem;
    }
}